# Configuración de Conexión PostgreSQL (Neon DB)
DB_URL=jdbc:postgresql://TU_HOST/TU_DB?sslmode=require
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_password

# Configuración de JWT
JWT_SECRET=tu_clave_secreta_min_32_chars
JWT_EXPIRATION=86400
